/* Ansuman Mishra(Ansuman.tech) */
/*
░█████╗░███╗░░██╗░██████╗██╗░░░██╗███╗░░░███╗░█████╗░███╗░░██╗  ███╗░░░███╗██╗░██████╗██╗░░██╗██████╗░░█████╗░
██╔══██╗████╗░██║██╔════╝██║░░░██║████╗░████║██╔══██╗████╗░██║  ████╗░████║██║██╔════╝██║░░██║██╔══██╗██╔══██╗
███████║██╔██╗██║╚█████╗░██║░░░██║██╔████╔██║███████║██╔██╗██║  ██╔████╔██║██║╚█████╗░███████║██████╔╝███████║
██╔══██║██║╚████║░╚═══██╗██║░░░██║██║╚██╔╝██║██╔══██║██║╚████║  ██║╚██╔╝██║██║░╚═══██╗██╔══██║██╔══██╗██╔══██║
██║░░██║██║░╚███║██████╔╝╚██████╔╝██║░╚═╝░██║██║░░██║██║░╚███║  ██║░╚═╝░██║██║██████╔╝██║░░██║██║░░██║██║░░██║
╚═╝░░╚═╝╚═╝░░╚══╝╚═════╝░░╚═════╝░╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝  ╚═╝░░░░░╚═╝╚═╝╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░╚═╝

𝘞𝘢𝘳𝘯𝘪𝘯𝘨:𝘠𝘰𝘶 𝘊𝘢𝘯 𝘙𝘦𝘱𝘭𝘪𝘤𝘢𝘵𝘦 𝘛𝘩𝘦 𝘜𝘐 𝘉𝘶𝘵 𝘋𝘰 𝘕𝘖𝘛 𝘵𝘳𝘺 𝘵𝘰 𝘊𝘰𝘱𝘺 𝘛𝘩𝘦 𝘊𝘰𝘯𝘵𝘦𝘯𝘵 𝘈𝘯𝘥 𝘛𝘩𝘦 𝘗𝘦𝘳𝘴𝘰𝘯𝘢𝘭 𝘋𝘦𝘵𝘢𝘪𝘭𝘴.
𝘚𝘰𝘶𝘳𝘤𝘦𝘊𝘰𝘥𝘦 𝘈𝘷𝘢𝘪𝘭𝘢𝘣𝘭𝘦@ 𝘩𝘵𝘵𝘱𝘴://𝘨𝘪𝘵𝘩𝘶𝘣.𝘤𝘰𝘮/𝘢𝘯𝘴𝘮𝘪𝘴-𝘭𝘪𝘵/𝘢𝘯𝘴𝘮𝘪𝘴-𝘭𝘪𝘵.𝘨𝘪𝘵𝘩𝘶𝘣.𝘪𝘰*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Montserrat:wght@500&family=Roboto:wght@500&display=swap&family=Bree+Serif&display=swap');


:root {
	/* font */
	--fontBalooChettan:'Baloo Chettan 2', cursive;
	--fontMontserrat:'Montserrat', sans-serif;
	--fontRoboto:'Roboto', sans-serif;
	--fontBree:'Bree Serif', serif;
	/* custom cursor */
	--follower-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	--curser-color: #000000;
	--size: 32px;
	--gap: 22px;

	/* Default Color */
	--theme-color1:#0eae57;
	--theme-color2:#0c1f75;
 }

 html,body {
	cursor:initial ;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	background-image: linear-gradient(to left, #f5eb6498 0%, wheat 45%);
	color: #252525;
}
::selection,::-moz-selection{
	background-color: rebeccapurple;
	color: whitesmoke;
	box-shadow: none;
	filter: none;
	text-shadow: none;
}
section{
	height: 100vh;
	display: table;
}

/* prevent user to drag or select image */
img{
	pointer-events: none;
	user-select: none;
}
/* cursor setting */

.follower {
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	position: absolute;
	transform: translate(calc(1px * var(--mouse-x)), calc(1px * var(--mouse-y)))
	  translate(-50%, -50%);
	background: var(--follower-color);
	filter: blur(0.2px) drop-shadow(2px 2px 2px #464646);
	z-index: 99;
	pointer-events: none;

 }
.cursor {
	width: calc(var(--size) + var(--gap));
	height: calc(var(--size) + var(--gap));
	border-radius: 50%;
	position: absolute;
	transform: translate(calc(1px * var(--mouse-x)), calc(1px * var(--mouse-y)))
	  translate(-50%, -50%);
	background:var(--curser-color);
	border: 1px solid #fff;
	mix-blend-mode: difference;
	z-index: 99;
	filter: blur(0.7px);
	pointer-events: none;
 }

/* ------------------------------ */

/* scroll bar Only Stands for Chromium Based*/
/* width */
::-webkit-scrollbar{
	width: 15px;
	background: #ffffff;
      }

      /* Track */
      ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
	background: #EBE702;
	border-radius: 15px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
	background: #2efa06;
      }



/**
 * links
 * -------------------------------------------------------------------
 */
a, a:visited {
	color: #4600eb;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a:hover, a:focus, a:active {
	color:var(--theme-color1);
	outline: 0;
}

/* social-accounts */

.social-accounts{
	background: #acacac8c;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 15px 0;
	border-left:solid 2px var(--theme-color1) ;
	border-bottom:solid 2px var(--theme-color2) ;
	border-top:solid 2px var(--theme-color2);
	position: fixed;
	font-size: 2rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	top: 20%;
	right:0;
}

.social-accounts a, .social-accounts a:visited {
	color: #252525;
	box-shadow: -2px 2px var(--theme-color2),2px 0 var(--theme-color1);
	width: 100%;
	padding: 1px;
	border-radius: 15px;
	margin-bottom: 7px;
	text-align: center;
}
.social-accounts a:hover, .social-accounts a:focus {
	color: #ffd13b;
	filter: drop-shadow(2px 2px 1px #252525);
}

/*
************************
----Navigation Menu---
************************ */

#navigation-bar{
	width: 100%;
	position: fixed;
	margin: 0;
	bottom: 0;
	z-index: 99;
	background:#85858580;
	height: 40px;
	box-shadow: 0px -.5px 1px #00000028;
	border-top:solid 1px #00000028 ;
}
.menu-container{
	display: flex;
	transform: translateX(30%);
	flex-direction: row;
}
#navigation-bar a{
	font-family: var(--fontBalooChettan);
	color: #252525;
	font-size: 1.3rem;
	width: 100px;
	height: 30px;
	margin-left: 10px;
	margin-top: 7px;
	background: #fff;
	text-align: center;
	border-start-end-radius: 25px;
	border-left: solid 3px #4700ebb4;
	border-bottom: solid 3px #4700ebb4;
	text-decoration: none;
}
#navigation-bar a:hover {
	color: #4600eb;
	translate: 0% -10%;
	border-left: none;
	border-bottom: solid 4px #000;
	border-right: solid 3px #4700ebb4;
	border-top: solid 3px #4700ebb4;
}
/*
************************
----Navigation Menu for small screen---
************************ */
.btn-grad {
	background-image: linear-gradient(to left, #529dff, #8bff5e);
	margin: 3px;
	padding: 5px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: rgb(0, 0, 0);
	filter: drop-shadow(2px 2px 2px #000);
	border-radius: 15px;
	display: block;
	font-family:"poppins-medium", sans-serif;
 }
 .btn-grad:hover {
	background-position:right center; /* change the direction of the change here */
	color: #ffffff;
	text-decoration: none;
	font-style: oblique;
 }

	#menuToggle
	{
	  display: block;
	  position: fixed;
	  top: 20px;
	  left: 20px;
	  z-index: 1;
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle a
	{
	  text-decoration: none;
	  transition: color 0.3s ease;
	}
	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;
	  opacity: 0; /* hide this */
	  z-index: 2; /* and place it over the hamburger */
	  -webkit-touch-callout: none;
	}

	/*
	 * Just a quick hamburger
	 */
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;

	  background: #252525;
	  border-radius: 3px;

	  z-index: 1;

	  transform-origin: 4px 0px;

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/*
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #000000;
	  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2,0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: absolute;
	  width: 350px;
	  margin: -100px 0 0 -30px;
	  padding: 20px;
	  padding-top: 110px;
	  border-radius: 20px;
	  background: #d6d6d6b6;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */

	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 1px 0;
	  font-size: 22px;
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
	  transform:none;
	}

/* responsive media query */
@media screen and (min-width: 960px){
	nav{
		visibility: hidden;
	}
}
@media screen and (max-width: 960px){
	#navigation-bar{
		visibility: hidden;
	}
 }
/**
 * ===================================================================
 * 10. intro
 *
 * -------------------------------------------------------------------
 */
#intro {
	color:var(--theme-color2);
	position: relative;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.land-svg,.land-svg img{
	position:absolute;
	margin: 0;
}
.land-svg img{
	width: 25vw;
	filter: sepia(1) drop-shadow(0 2px 1px #000);
}
#intro-img{
	height:38em;
	margin-left: 10em;
	bottom:0;
	filter: drop-shadow(5px 5px 5px #000);
}
#intro h1 {
	font-family: var(--fontBalooChettan);
	color: #4600eb;
	font-size: 4rem;
	line-height: 1.071;
	margin-top: 0;
	margin-bottom: .6rem;
	filter: drop-shadow(2px 2px 1px var(--theme-color1));
}
.content{
	margin-top: 2rem;
	margin-left: 2rem;
}
#intro h5 {
	font-family: var(--fontBalooChettan);
	color: var(--theme-color2);
	font-size: 2.1rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	filter: drop-shadow(2px 2px 1px #fff);
}
.hola{
	font-size: 1em;
}
.intro-position {
	font-family: var(--fontBree);
	font-size: 1.5rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 800;
	/* text-shadow: 2px 2px 2px #31313180; */
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	line-height: 3rem;
}
.intro-position span{
	font-family: var();
	background-color: #a5a5a586;
	border-radius: 15px 15px;
	padding: .2rem;
	font-size: 1.5rem;
	text-shadow:1px 1px 1px #ebe702;

}
.reachme{
	margin-top:20px;
	background: #4600eb;
	color: #fff;
	font-size: 1.5rem;
	font-family: var(--fontRoboto);
	padding: .5rem;
	border:transparent;
	border-radius: 15px;
	box-shadow: -5px -2px 2px 2px #2c0092;

}




/* Scroll Reveal */
.reveal{
	position: relative;
	transform: translatey(150px);
	opacity: 0;
	transition: all .8s ease-in-out;
 }

 .reveal.active{
	transform: translateY(0px);
	opacity: 1;
 }


/* Error 404 */

.error-404{
	margin: 0;
	display:flex;
	flex-direction: column;
	text-align: center;
	font-family: var(--fontBalooChettan);
	line-height: 1rem;
	background: radial-gradient( circle farthest-corner at 10% 20%,  #0eae57 0%, #0c7475 90% );
}
.error-404 h1{
	font-size: 7rem;
	color: #00bf72;
	filter: drop-shadow(2px 2px 2px #000);
}
.error-content{
	font-size: 2rem;
	color: #fff;
	filter: drop-shadow(2px 2px 2px #00bf72);
	line-height: 2rem;
}
.error-button{
	flex-direction: row;
	height: 100px;
	text-align: center;
	box-shadow: -1px -1px 5px #adadad8f;
	margin-top: 50px;
}
.error-button a button{
	font-family: var(--fontRoboto);
	font-size: 1.2rem;
	font-weight: 800;
	color: #000;
	box-shadow: 2px 2px 2px #000,-3px -3px 0px #adadad;
	margin-left: 5px;
	margin-top: 30px;
}
.error-button a button:hover{
	text-decoration: underline #4600eb 2px;
	color: #000;
	translate: 0% 15%;
}