@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main-menu {
  height: 100%;
  width:100% ;
  overflow: hidden;
  position: fixed;
  z-index: 9;
  
}

.aside-section {
  top: 0;
  bottom: 0;
  position: absolute;
}

.aside-left {
  display: none;
  width: 40%;
  left: 0;
  background-color: #000000e0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.aside-right {
  width: 100%;
  right: 0;
  background-color: #000000f5;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  text-align: left;
  padding-left: 50px;
}

.aside-content {
  margin-top: 150px;
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
}

.aside-list li {
  margin-bottom: 20px;
}

.aside-anchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #ffe600;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}

.aside-anchor::before {
  border-radius: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: rgb(72, 255, 0);
  left: 0;
  height: 3px;
  z-index: 1;
  width: 50%;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.aside-anchor:hover:before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.aside-anchor {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  font-size: 40px;
  position: relative;
  font-weight: 500;
  background: #424242bb;
  border-radius: 5px;
  padding:7px;
  text-align: center;
  line-height: 4rem;
}

#myInput[type="checkbox"] {
  display: none;
}

#myInput[type="checkbox"]:checked ~ aside .aside-left {
  transform: translateY(0%);
}

#myInput[type="checkbox"]:checked ~ aside .aside-right {
  transform: translateX(0%);
}

#myInput[type="checkbox"]:checked ~ label .bar {
  background-color: rgb(255, 255, 255);
}

#myInput[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

#myInput[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

#myInput[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

.inputLabel {
  top: 10px;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: #ffffff;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in,
    width 0.2s ease-in;
}

.paraMenu {
  font-size: 30px;
  text-align: center;
  line-height: 1.3em;
  font-weight: 600;
}

.ctaButton {
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(199,154,17,1) 16%, rgba(254,143,15,1) 51%, rgba(0,212,255,1) 100%);
  border: none;
  padding: 7px;
  padding-top: 2px;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid  ;
  color: rgb(15, 8, 8);
  border-radius: 20px;
  text-align: center;
  margin-top: 5px;
}

@media (min-width: 992px) {
  .aside-left {
    display: block;
  }

  .aside-right {
    width: 60%;
  }
}
.ctaButton:hover{
  color:#f0e47c;
}
.aside-anchor:hover{
  background: linear-gradient(90deg, rgba(199,154,17,1) 16%, rgba(254,143,15,1) 51%, rgba(0,212,255,1) 100%);
  text-shadow: 1px 1px #000000;
}