/* Responsive Media View */

 /* Media Max Width:960px */


@media screen and (max-width: 768px){
   section{
      text-align: center;
   }
  /* Social links */
   .social-accounts{
      flex-direction: row;
      top: auto;
      bottom: 0;
      border-radius: 0;
	   border-top:solid 2px var(--theme-color1);
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 1.5rem;
      text-align: center;
   }
   .social-accounts a, .social-accounts a:visited {
      color: #4600eb;
      padding: 0;
      border-radius:  0px;
      text-align: center;
      margin: 0;
      padding-top: 2px;
      box-shadow: none;
      border-left: solid 1px var(--theme-color1);
      border-right: outset 1px var(--theme-color1);
   }
   .social-accounts a:hover, .social-accounts a:focus {
      color: #ffffff;
      box-shadow:1px 0px 1px #00000080,-1px -0px 1px #00000080;
      background-color: #4600eb;
      translate: 0 -10%;
      filter: none;
   }

   /* intro section */

   #intro{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
   #intro h1,#intro p,#intro img, #intro h5,#intro a, #intro button{
      text-align: center;
   }
   .land-svg img{
      width: 90vw;
   }
	#intro-img{
		height:40em;
		margin: 0;
		filter: drop-shadow(5px 5px 5px #000);
	}
	#intro h1 {
		font-size: 4rem;
		margin-top: 0;
		margin-bottom: .6rem;
		filter: drop-shadow(2px 2px 1px #4600eb);
	}
   .content-left{
      margin-top: 3rem;
      margin-left: .2rem;
      margin-right: .2rem;
   }
   .intro-position {
      color: #fff;
      font-family: var(--fontBalooChettan);
      font-size: 1.5rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      /* font-weight: 800; */
      text-shadow: 2px 2px 2px #000000fd;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      line-height: 3rem;
   }
   .intro-position span{
      font-family: var();
      background-color: #a5a5a586;
      border-radius: 15px 15px;
      color: #fff;
      padding: .2rem;
      /* font-weight: 700; */
      font-size: 1.5rem;
      text-shadow:2px 0px 1px #4600eb;

   }
}