.swal-overlay {
  background: linear-gradient(hsla(228, 84%, 83%, 0.2), hsla(229, 100%, 86%, 0.2));
  backdrop-filter: blur(3px);
}
.swal-modal {
  background-color: hsla(260, 30%, 18%, 0.5);
  border: dashed 1px #2c2c2c;
  backdrop-filter: blur(1px);
}
.swal-text{
  color: #ffffff;
  font-size: 18px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0));
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #dde5ff96;
  color: #000;
  font-size: 16px;
  border: 1px solid #6647ee;
}